/*
 * master.css
 */

/* Rain Taxi redesign December 2006
Author: Jessica Bennett
URL: http://www.accommodatingly.com */

/*
 * Rain Taxi redesign 2011
 * By Amy Groshek
 * Some remnants of styles from above, though the HTML has been completely re-authored and few apply. 
 * Versions:
 * 2011.7.1, modification of existing header, addition of styles for top nav, separation of mod-able styles into a separate stylesheet
 * 2011.2.1, additional modifications to accommodate new markup, new selectors to deal with IE, which doesn't do text shadow, box shadow, or gradients :( 
 */

/* BASIC ELEMENT SIZING AND BEHAVIOR ==> DO NOT CHANGE THIS STUFF FOR PAGE-SPECIFIC STYLES!!! Use class-based selectors for that, so you don't change the whole dang page. <== */ 
body {
    color: #454541; 
    background-color: #ECEFEE; 
    margin-top: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 130%;
}
a {
    color: #444;
    text-decoration: underline;
}
a:visited {
    color: #888;
} 
a:link:hover, a:visited:hover {
    text-decoration: underline;
}
p {
    text-align:justify;
    line-height:150%;
}
strong {
}
ul {
    margin-top: 5px;
    margin-bottom: 5px;
}
li {
    margin-bottom: 5px;
}
h1, h2, h3, h4,h5,h6, h7 {
    font-family: Helvetica, Arial, sans-serif;
    margin-top:5px;
    margin-bottom: 5px;
}
h1 {
    font-size: 1.75em;
    font-weight:800;
}
h2 {
    font-size: 1.5em;
    font-weight: 800;
}
h3 {
    font-size: 1.25em;
    font-weight: 800;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1em;
    margin: 4px;
}
h6 {
    font-size: 1em;
    font-weight: 600;
    margin: 4px;
    text-align:justify;
    margin-top:5px;
    margin-bottom: 6px;
}
h7 {
    font-size: .11em;
    font-weight: 400;
    margin: 3px;
}
h8 {
    font-size: 2em;
    font-weight:900;
    margin-top:10px;
    margin-bottom: 8px;
    text-align:center;
}
/* END BASIC */

h2.indextop {
    padding-top:3px;
}

/*
 * BEGIN SOCIAL MEDIA MENU --> IF YOU CHANGE THINGS HERE IT WILL LIKELY BREAK THE MENU
 */
div.actionIcons {
    display: block;
    border: none;
    overflow: hidden;
    padding: 10px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    /*	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
/*behavior: url(scripts/PIE.htc);*/
}
.ie6 div.actionIcons {    
    border: 2px solid #ccc; 
}
div.actionIcons .icontext {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    padding-top: 5px;
    display: inline-block;
    padding-bottom: 15px;
    margin-left: 5px;
}
div.actionIcons .clickicon {
    cursor: pointer;
    display: inline-block;
    float:left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 3px #888;
    -moz-box-shadow:  0px 0px 3px #888;
    -webkit-box-shadow:  0px 0px 3px #888;
    cursor: pointer;
    /* behavior: url(scripts/PIE.htc);*/
}
.ie8 .actionIcons .clickIcon, .ie7 .actionIcons .clickIcon, .ie6 .actionIcons .clickIcon {    
    border: 2px solid #ccc; 
}
#likeonfb, #followontwitter, #joinmailinglist, #donate {
    display: block;
    float: left;
    margin-bottom: 5px;
}
#likeonfb .clickicon {
    height: 48px;
    width: 48px;
    background: transparent url(../images/facebook.png) center no-repeat;
    display: inline-block;
}
#followontwitter .clickicon {
    height: 48px;
    width: 48px;
    background: transparent url(../images/twitter.png) center no-repeat;
    display: inline-block;
}
#donate .clickicon {
    height: 48px;
    width: 48px;
    border: solid 1px #64D5FF;
    background: transparent url(../images/donate.png) center no-repeat;
    display: inline-block;
}
#joinmailinglist .clickicon {
    height: 48px;
    width: 48px;
    background: transparent url(../images/email.png) center no-repeat;
    display: inline-block;
}
div.actionIcons .clickicon:hover {
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow:  0px 0px 5px #888;
    -webkit-box-shadow:  0px 0px 5px #888;
    cursor: pointer;
    /* behavior: url(scripts/PIE.htc);*/
}
/* .search {
background: #fffff;
border: 1px solid;
}
    .search, .search a {
    color: #5083ad;
}*/
#search-form {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.searchform {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100%;
}
.searchform #s {
    color: #444;
    background-color: #fff;
    padding: 2px;
    width: 70%;
    /* margin-left: auto;
    margin-right: auto;
    display: block;*/
float: left;
display: inline-block;
height: 25px;
border: solid 1px #ccc;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-moz-box-shadow: 0 0 1px #888;
-webkit-box-shadow: 0 0 1px #888;
box-shadow: 0 0 1px #888;
/* behavior: url(scripts/PIE.htc);*/
}

.searchform #s:focus {

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

#searchsubmit {
    /*	font-size: 95%;*/
    text-transform:lowercase;
    margin-left: 5px;
    /* height: 25px;*/
    font-weight: bold;
    float: left;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    /*	border: solid 2px #888;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;*/
/* behavior: url(scripts/PIE.htc); */
}

#searchsubmit:hover {
    /*	color: #fff;
    background: #888;
    border: solid 2px #999; */
}

.featuredeventsbtn div {
    /* padding: 5px;*/
    width: 100%;
    /*	margin-top: 10px;*/
}
.featuredeventsbtn a {
    display: block;
    margin-top: 10px;
}
#gobookfest a .icon {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    background: url(../images/book-grayscale.png) 0px 0px no-repeat;	
}

#golitcal a .icon {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    background: url(../images/date-grayscale.png) no-repeat;	
}

/* Nav menu ==>> DO NOT MESS WITH THESE!!! <<== */
#navMenu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    height: 30px;
    clear: both;
}
#nav-parent {
    width: 780px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nav-one {
}
.nav, .nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
    position: relative;
}
.nav li:first-child {
    border-left:none;
}
.nav li {
    border-left: 1px solid #000;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
    font: bold 1.22em/25px Arial, Helvetica, sans-serif;
    /* background: #565656;*/
    color: #959595;
    display: block;
    padding: 0 9px;
    text-transform: lowercase;
    text-decoration: none;
}
.nav li a:hover {
    background: #666;
    color: #000;	
}
#nav-one li:hover a, #nav-one li.sfHover a {
    background: #ccc;
    color: #000;
}
#nav-one li:hover ul a, #nav-one li.sfHover ul a {
    background: #565656;
    color: #959595;	
}
#nav-one li:hover ul a:hover, #nav-one li.sfHover ul a:hover {
    background: #ccc;
    color: #000;	
}

.nav ul {
    background: #565656;
    border-bottom: 1px solid #000;
    list-style: none;
    margin: 0;
    /* width: 100px;*/
    position: absolute;
    top: -999em;
    left: -1px;
}
.nav li:hover ul, .nav li.sfHover ul {
    top: 25px;
}
.nav ul li {
    border: 0;
    float: none;
}
.nav ul a {
    border: 1px solid #000;
    border-bottom: 0;
    padding-right: 20px;
    /* width: 80px;*/
    white-space: nowrap;
}
.nav ul a:hover {
    background: #ccc;
    color: #000;
}
/* END NAV MENU */
/*
 * END SOCIAL MEDIA MENU
 */
/* 
 * STRUCTURE AND NAV MENU
 */
#bodyParent {
    min-width:938px;
    max-width:938px;
    width:938px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    behavior: url(scripts/PIE.htc);
    /* In case we want rounded corners later
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     */
}
#bannerIndex {
    color: #000;
    padding: 0px;
    background-color: #8CFECD;
    display: block;
    margin-top: 15px;
    border-bottom:1px solid #999;
    behavior: url(scripts/PIE.htc);
}
#bannerIndex a:hover {
    text-decoration: none;
    color: #000;
}

#bannerIndex a {
    text-decoration: none;
    color: #000;
}
#bannerFloat {
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 10px;
}

#bannerParent {
    float:left;
    position:relative;
    left:50%;
    list-style-type: none;
}

#bannerLeft {
    float:left;
    position:relative;
    right: 50%;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 70px;
    text-shadow: 2px 2px 3px #888;
    margin-top: 40px;
}

#bannerCenter {
    float:left;
    position:relative;
    right:50%;
    background: url('../images/logo-80h.png') 5px 0px  no-repeat; 
    margin-left: 20px;
    margin-right: 20px;
    margin-top:10px;
    width: 60px;
    height: 80px;
}

#bannerRight {
    float: left;
    position:relative;
    right: 50%;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 2px #888;
    margin-top: 40px;
}
#bannerIndexRight {
    background-image: url('../images/62bannerright.gif');
    margin-left: auto;
    margin-right: 5px;
    width: 441px;
    height: 100px;
}
#container {
    /*margin: 0px 10px 10px 0px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;
    min-height:500px;
    width:100%;
    border-top: 1px solid #ECEFEE;
    position: relative;
    background: #fff;
    overflow: hidden;
    /*	border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    behavior: url(scripts/PIE.htc);*/
}
#content {
    margin: 15px;
    display:block;
    float:left;
    width: 70%;
}

#floatbox1 {
    display: block;
    float: right;
    width: 200px;
    margin-top: 30px;
    margin-right: 15px;
}
.ie8 #floatbox1, .ie7 #floatbox1, .ie6 #floatbox1 {    
    border: 2px solid #ccc; 
}
.indexbox {
    margin-left: 125px;
    padding-top: 20px;
}
.indexbox .announcement .meta {
    font-size: 20px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}
.indexbox .announcement {
    margin-bottom: 40px;
}
.indexbox .announcement a {
    color: #444;
}
.indexbox .announcement .goanddo-parent{
    display:inline-block;
    position:relative;
    left:50%;
}
/*
 * Button formatting
 */
.button {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
a.button:hover {
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.button:active {
    position: relative;
    top: 1px;
}
.rtgradient {
    border: solid 1px #ccc;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.58, rgb(195,250,226)),
    color-stop(0.27, rgb(140,254,205)),
    color-stop(0.96, rgb(140,254,205))
    );
    background-image: -moz-linear-gradient(
    center top,
    rgb(195,250,226) 58%,
    rgb(140,254,205) 27%,
    rgb(140,254,205) 96%
    );

}
.rtgradient:hover {
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.39, rgb(195,250,226)),
    color-stop(0.27, rgb(180,250,220)),
    color-stop(0.96, rgb(140,254,205))
    );
    background-image: -moz-linear-gradient(
    center top,
    rgb(195,250,226) 39%,
    rgb(180,250,220) 27%,
    rgb(140,254,205) 96%
    );
}
.rtgradient:active {

}

.dropshadow {

    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px#888;
    box-shadow: 1px 1px 5px #888;
}

/*
 * End button formatting 
 */
/*
 * CONTENT-SPECIFIC FORMATTING
 */
/*
 **** BEGIN FRONT PAGE FORMATTING
 */
.indexbox .announcement .goanddo {
    color: #444;
    text-align: center;
    width: auto;
    position:relative;
    left:-50%;
    /* margin-bottom: 5px;
    padding:5px;
    font-weight: bold;
    text-decoration: none;
    background-color: #8CFECD;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px#888;
    box-shadow: 1px 1px 5px #888;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(scripts/PIE.htc);*/
}
.indexbox .announcement .goanddo:hover {
    /*	background-color: #B1FADB;
    color: #666;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 3px #888;
    box-shadow: 1px 1px 3px #888;
    behavior: url(scripts/PIE.htc);*/
}

.indexbox .announcement .goanddo:active {
    /*	background-color: #8CFECD;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
    behavior: url(scripts/PIE.htc);*/
}
.indexbox .announcement p {
    margin-top: 5px;
}
.indexbox .announcement img {
    float: right;
    margin-top: 30px;
    margin-left: 10px;
    border: solid 1px #ccc;

}
#footer-cont {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 12px;
}
/*
 * END FRONT PAGE FORMATTING
 */
/*
 * BEGIN EDITION INDEX FORMATTING
 */

.issue .issuetitle p {
    text-align: right;
    padding-right: 5px;
}

.issue .issuetitle .header {
    font-weight: bold;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ccc;
}

.issue .issuetitle {
    border-right: solid 1px #ccc;
}

.issue .category {
    margin-top: 20px;	
    border-left: solid 1px #ccc;
}

.issue .category .header {

    font-weight: bold;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; 
    border-bottom: 1px solid #ccc;
}
.issue .article {
    margin-left: 10px;
}
.issue .article .header {

    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-left: 0px;
    padding-bottom: 3px;
    border: none;
}
.issue .article .by {
    font-weight: bold;
    font-size: 12px;
}

.issue .article p {
    margin-top: 5px;
    margin-bottom: 0px;
}
.issue .genre {
    text-align: center;
    font-weight: bold;
}
/*
 * END EDITION INDEX FORMATTING
 */

/*
 * BEGIN REVIEW FORMATTING
 *
 */
.indexbox.review {
    border-left: 1px solid #ccc;
}

.review .review-container {
    margin-left: 10px;
}

.review .issuetitle {
    margin-bottom: 20px;
    border-right: none;
}
div.bookCover {
    float: right;
    padding: 8px;
    display:inline;
    margin-left: 10px;
}

.bookTitle {
    text-align:left;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
    line-height: 130%;
    font-size: 16px;
    text-transform: uppercase;
}
.bookSubtitle {
    text-align:left;
    margin-bottom : 5px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold;
}
.bookAuthor {
    /*	font-weight : bold;*/
    margin-bottom : 2px;
    margin-top : 2px;
    /* margin-left: 10px;*/
    font-style : italic;
    text-align: left;
}

.publisher {
    text-align:left;
    margin-bottom : 2px;
    margin-top : 2px;
    /*	font-weight : bold;*/
}

.reviewer {
    display: block;
    text-align:left;
    padding-left: 25px;
    padding-top: 5px;
}
.affiliate {
    /* color:#FFFFFF;*/
    display: block;
}
.affiliate a {
    /* color:#FFFFFF;*/
    display: block;
}
.firstletter {
    font-weight: bold;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding-right:2px;
}
/*
 * END REVIEW FORMATTING
 *
 */
#pageTop {
    width: 580px;
    padding: 10px;
    text-align:center;
    font-size:105%;
    font-family:Trebuchet, Verdana, Arial, Helvetica, sans-serif;
}
/* Placing what seem to be ancillary or inappropriately targeted styles below */
.archive {
    min-width: 580px;
    background: #fff;
    padding: 5px;
    margin-top: 10px;
    border: 1px dotted;
    text-align:center;
    display:block;
    width: 580px;
}
.archCover {
    text-align:center;
    float: left;
    padding: 1%;
    width: 22%;
    font-size:80%;
}
.archCover img {
    display: block;
    margin: 3px auto;
}
.archAuthor {
    float: left;
    padding: 1%;
    width: 15%;
}
.archAuthor img {
    display: block;
    margin: 1px auto;
}
.buyNow {
    font-size: 14px;
    font-weight:800;
    text-transform:uppercase;
}
/*Readings*/

reader {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:700;
    font-size:130%;
}
date {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.specialBox {
    font-weight: normal;
    text-align: center;
    width:65%;
    margin:5px auto;
    padding: 3px 5px;
}
.specialBox p {
    margin-top: 0px;
}
.round2 {
    border: 1px solid #868e4e;
    width: 580px;
    margin-bottom: 5px;
}

/* category nav */
.catnav {
    font-size: 85%;
    text-align: right;
    font-weight:700;
    text-transform: uppercase;
    margin: 0px 5px 20px 0px;
}
/* Review formatting */
.printlink {
    text-align: center;
    display:block;
    text-transform:uppercase;
    margin: 5px 0px 5px 480px;
    padding: 3px;
    font-size:85%;
    width:100px;
    border: 1px dotted #868e4e;
    background:#fff;
}
.printfriendly {
    display: none;
}
.footnote {
    text-align:left;
    font-size:.90em;
    border-top: 1px solid;
    width: 550px;
}
.footnotenext {
    text-align:left;
    font-size:.90em;
    width: 550px;
}
p.reviewTitle {
    text-align:center;
    font-size: 1.2em;
    font-weight : 700;
}
p.bookTranslator {
    text-align:left;
    margin-bottom : 2px;
    margin-top : 0px;
    font-weight : 600;
    width: 350px;
}
p.reading {
    text-align:left;
    font-size: 1.15em;
    margin-bottom : 10px;
    margin-top : 10px;
    font-weight : bold;
}
p.fest {
    text-align:left;
    font-size: 1.15em;
    margin-bottom : 5px;
    margin-top : 3px;
    font-weight : bold;
    color:#336633;
}
p.festText {
    text-align:justify;
    font-size: 1em;
    margin-bottom : 5px;
    margin-top : 3px;
    font-weight : bold;
    margin-left:15px;
}
div.artimage {
    float: left;
    padding: 8px;
    display:inline;
}
div.outImage {
    float: left;
    padding: 20px;
    margin-bottom : 30px;
    margin-top: 30px;
    margin-left : 10px;
    margin-right: 10px;
    display;
    border-width:medium
}
div.readingsCover img {
    display: block;
    padding: 5px;
}
div.reading {
    float : left;
    padding: 5px;
}
p.photocredit {
    margin-top : 3px;
    margin-bottom : 0px;
    font-size : .7em;
    text-align : right;
    border-bottom: dotted 1px;
    position:relative;
    display: block;
}
p.photocreditsmall {
    margin-top : 0px;
    margin-bottom : 0px;
    font-size : .7em;
    text-align : center;
    position:vertical;
}
.alignleft {
    float: left;
    padding: 5px;
}
.line {
    width: 75%;
    margin: 15px auto;
    border-bottom: 1px solid;
    clear:both;
    color: #5083ad;
}
.printissue, .printissue a, .printissue a:visited, .plusHead {
    color: #2b4f25;
}
#banner {
    border: solid 2px #5083ad;
    background: #2b4f25;
}
.archive {
    color: #388d4c;
}
h2.index {
    padding-top:10px;
    border-top: 1px solid;
}
#floatbox1 h4.top {
    background: #868e4e;
    border: 1px solid #2b4f25;
}
.top, .top a {
    color: #FFFFFF;
}
#floatbox1 h4.sub {
    background: #5083ad;
    border: 1px solid #2b4f25;
}
.sub, .sub a {
    color: #FFFFFF;
}
#floatbox1 h4.sub2 {
    background: #2b4f25;
    border: 1px solid #2b4f25;
}
#floatbox1 h4.sub3 {
    background: #dbc124;
    border: 1px solid #2b4f25;
}
.sub2, .sub2 a {
    color: #FFFFFF;
}
.sub3, .sub3 a {
    color: #FFFFFF;
}
#pageTop {
    width: 95%;
    color: #2b4f25;
    background: #fff;
    border: 1px solid #868e4e;
}
blockquote,  .reviewQuote {
    font-size: .99em;
    margin: 8px 20px 0px 40px;
    color: #360;
}
.verseQuote {
    font-style:normal;
    margin: 8px 20px 0px 40px;
    padding-left: 10px;
}
address {
    margin: 8px 150px 8px 15px;
    font-style: normal;
    text-transform:uppercase;
}
.printissue {
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2px;
    font-size: 1.25em;
    border-bottom-style:double;
    padding-bottom: 3px;
    width: 590px;
}
.print {
    text-align: left;
    width: 80%;
    margin: 8px auto;
}
.tocSection {
    text-transform: capitalize;
    font-weight: 800;
    font-size:125%;
    width: 590px;
    text-align:center;
    font-variant: normal;
}
.copyright {
    font-size: 85%;
    text-align: center;
    margin: 15px;
}
.affiliate {
    font-size: 90%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    width: 50%;
    font-weight: 700;
}
.tocTopsection {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 130%;
    font-weight:700;
    width: 590px;
    text-align:center;
}
.plus {
    margin: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight:700;
}
.plusHead {
    margin: 10px 0px 3px;
    text-transform:uppercase;
}
.tocTopDesc {
    width: 590px;
    text-align:center;
}
.tocTitle {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 10px 40px 3px 40px;
}
.tocDesc {
    margin: 3px 40px 15px 40px;
}
/* Google search */

.gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
input.gsc-input {
    border-color: #BCCDF0;
    background: none !important; /* 2011-9-2 */
		height: 25px; /* 2011-9-2 */
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;
}
input.gsc-search-button {
    /* border-color: #666666;
    background-color: #CECECE;*/
		height: 25px;
		width: 50px;
		padding: 5px;
}
td.gsc-search-button {
	padding-left: 5px;
}
.gsc-tabHeader.gsc-tabhInactive {
    border-color: #E9E9E9;
    background-color: #E9E9E9;
}
.gsc-tabHeader.gsc-tabhActive {
    border-top-color: #FF9900;
    border-left-color: #E9E9E9;
    border-right-color: #E9E9E9;
    background-color: #FFFFFF;
}
.gsc-tabsArea {
    border-color: #E9E9E9;
}
.gsc-table-result .gs-title a.gs-title {
	font-size: 12px;
	color: #454541;
}
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
    color: #454541;
}
 .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
    color: #454541;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b {
    color: #454541;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
    color: #454541;
}

.gsc-cursor-page {
    color: #0000CC;
}
a.gsc-trailing-more-results:link {
    color: #0000CC;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet {
    color: #999999;
		font-size: 10px;
}
.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {
    color: #008000;
}
.gs-webResult div.gs-visibleUrl-short {
    color: #008000;
}
.gs-webResult div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long {
    display: block;
}
.gsc-cursor-box {
    border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #E9E9E9;
    background-color: #FFFFFF;
    color: #ccc !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #FF9900;
    background-color: #FFFFFF;
    color: #454541 !important;
}
.gs-promotion {
    border-color: #336699;
    background-color: #FFFFFF;
}
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
    color: #0000CC;
}
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
    color: #0000CC;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
    color: #0000CC;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
    color: #0000CC;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right *  {
    color: #000000;
}
.gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl-short {
    color: #008000;
}
/* Local changes to google search box */
.cse .gsc-control-cse, .gsc-control-cse {
    /* padding: 0px important!; */
}
.gsc-branding-text, .gsc-branding-img {
    display: none;
}

/* #banner {
margin: 0px 10px 5px 0px;
padding: 0px;
min-width:938px;
height: 100px;
max-width:938px;
width:938px; 
height: 100px;
}
    #banner img {
    border: 0;
}
    .bannerimg {
    float: left;
    border: 0;
}
    #navbar {
    margin: 3px 10px 0px 600px;
    padding: 0px;
    text-align:center;
}*/
/*.spaced SUB, .spaced SUP {
line-height: 0;
}
    #administrativa a {
    margin: 2px auto;
    display: block;
    margin-bottom: 3px;
}
    #administrativa h3 {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform:none;
    border-bottom-style: double;
    font-weight: 500;
}*/
/* End ancillary */

