/* print styles */
#navMenu { display:none; }
#floatbox1 { display:none; }
.indexbox { margin-left: 10px; background: none;}
#bodyParent {
min-width: 400px;
max-width: 800px;
margin-left: 10px;
background: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
body {background:none;}
#content {
background: none;
width: 95%;
}
#bannerCenter { width:0px;margin:5px;height:40px; }
#bannerLeft { font-size: 40px;margin-top: 20px; }
#bannerRight { margin-top: 20px; }
#container { border-top: none; }
#bannerIndex { border-bottom:none;  }
#navMenu { display:none; }

#content a.button { display:none; }

#bannerIndex { background: none; margin-top: 30px; font-weight: bold;}
#printHeader { display: inline; margin-top: 20px; background-color: none; color: #444; font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;font-size:22pt;}
