/* print styles */
#navMenu { display:none; }
#floatbox1 { display:none; }
.indexbox { margin-left: 10px; background: none;}
#bodyParent {
min-width: 400px;
max-width: 800px;
margin-left: 10px;
background: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
body {background:none;}
#content {
background: none;
width: 95%;
}
#bannerFloat { display: none;}
#bannerIndex { background: none; margin-top: 30px; font-weight: bold;}
#printHeader { display: inline; margin-top: 20px; background-color: none; color: #444; font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;font-size:22pt;}
/* #bannerLeft {
	text-transform: lowercase;
	text-transform: capitalize;
font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
font-size: 36px;
margin-top: 40px;
} */


/* #bannerFloat {
margin-left: 15px;
margin-top: 10px;
}
#bannerParent {
float: left;
position: relative;
left: 0%;
list-style-type: none;
} */